nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: bisque;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
}

nav a:hover {
    color: coral;
}